<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <title>New blog post</title>
</head>

<body>

    <header style="background-color: white;">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="fas fa-film mr-2"></i>
                Catalog-Z
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="/blogs/new">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="#">Logout</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link nav-link-2" href="/videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="/Login">Log/Reg</a>
                </li> -->
            </ul>
            </div>
        </div>
    </nav>
    </header>


    <div class="container" style="background-color:rgb(56, 38, 142);">
        <h1 class="mb-4 text-white">New blog post</h1>

        <form action="/blogs" method="POST" enctype="multipart/form-data">
            <div class="form-group">

                <label for="title" class="text-white">Title</label>
                <input type="text" class="form-control" placeholder="Title" name="title" >  <!-- required -->
            </div>

            <div class="form-group">

                <label for="author" class="text-white">Author</label>
                <input type="text" class="form-control" placeholder="Author" name="author" >  <!-- required -->
            </div>
            <div class="form-group">

                <label for="description" class="text-white">Description</label>
                <textarea name="description" placeholder="Description" class="form-control"></textarea>
            </div>            
            <div class="form-group">
                <label for="image" class="text-white">Upload image</label>
                <input type="file" name="image" id="image" class="form-control-file text-white">
            </div>
            <div class="form-group">

                <label for="views" class="text-white">Views</label>
                <input type="text" class="form-control" placeholder="Views" name="views" >  <!-- required -->
            </div>

            <div class="form-group">
                <a href="/" class="btn btn-warning">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>



    
    <%- include(`footer`) %>


</body>

</html>